<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="https://i.pinimg.com/564x/69/76/39/6976397d27eed9f81a8ee9f806ccf492.jpg" class="card-img-top" alt="Profile Picture">
          <div class="card-body text-center">
            <h5 class="card-title">Nome do Usuário</h5>
            <p class="card-text">email&#64;exemplo.com</p>
            <p class="card-text"><small class="text-muted">Membro desde: agosto de 2024</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Informações Pessoais</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Nome Completo:</strong> João da Silva</li>
          <li class="list-group-item"><strong>Endereço:</strong> Rua Exemplo, 123, Cidade, Estado</li>
          <li class="list-group-item"><strong>Telefone:</strong> (11) 99999-9999</li>
          <li class="list-group-item"><strong>Data de Nascimento:</strong> 10/10/1990</li>
        </ul>
        
        <h3 class="mt-4">Sobre Mim</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
  
        <h3 class="mt-4">Configurações</h3>
        <button class="btn btn-edit">Editar Perfil</button>
        <button class="btn btn-delete ml-1">Excluir Conta</button>
      </div>
    </div>
  </div>
  