.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #6964fb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: rgb(75, 72, 171);
  transform: scale(1.03);
}

.login-prompt {
  margin-top: 1rem;
  text-align: center;
}

.login-prompt a {
  color: #007bff;
  text-decoration: none;
}

.login-prompt a:hover {
  text-decoration: underline;
}

.footer-info {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #eae9e9; /* cinza lendário */
  border-radius: 4px;
}

.footer-info p {
  margin: 0;
}

.footer-info a {
  color: #007bff;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
}