<div class="registration-container">
    <h2>Cadastro</h2>
    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="username">Nome de Usuário</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
  
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
  
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirmar Senha</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>
  
      <button type="submit">Cadastrar</button>
  
      <p class="login-prompt">
        Já tem uma conta? <a routerLink="/login" routerLinkActive="active">Faça login</a>
      </p>
    </form>
  
    <div class="footer-info">
        <p>
          Este site está sujeito à <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">Política de Privacidade</a> e <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Termos de Uso</a> do Google.
        </p>
    </div>
  </div>