.navbar {
  background-color: #313439;
  padding: 1em;
}

.container {
  justify-content: center;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.icon-img {
  height: 60px;
  width: auto;
  transition: transform 0.2s ease;
}

.icon-img:active {
  transform: scale(1.2);
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right {
  margin: 0 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}