<div class="container mt-4">
  <!-- Caixa de Fora -->
  <div class="main-card card p-4">
    <div class="row justify-content-center">
      <!-- Caixa de Dentro -->
      <div class="col-md-8">
        <div class="left-card card p-4 mb-4">
          <div class="text-center mb-4">
            <img [src]="profileImgUrl" 
                 class="profile-img" 
                 alt="Foto de Perfil">
          </div>
          <h5 class="card-title text-center">Informações do Usuário</h5>
          <div class="user-info">
            <p><strong>Nome:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Membro desde:</strong> {{ user.membershipDate | date: 'dd MMM yyyy' }}</p>
          </div>
  
          <h6 class="mt-4 text-center"><strong>Histórico do Usuário</strong></h6>
          <div class="text-center">
            <button class="btn btn-info btn-full-width" [routerLink]="['/history']" routerLinkActive="active">
              Acessar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="config-buttons text-center mt-4">
      <button class="btn btn-danger" (click)="confirmDeleteAccount()">
        Excluir Conta
      </button>
    </div>
  </div>
</div>